a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: 0;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
}
.headert {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
}

/* ЛОГО */
.logo > span {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  color: #4d5ae5;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  color: #2e2f42;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
}

.site-nav {
  font-weight: 500;
  list-style-type: none;
  display: flex;
  margin-left: 76px;
  position: relative;
}
.site-nav .nav {
  display: block;
}
.site-nav .nav-flex:not(:last-child) {
  margin-right: 40px;
}

.nav {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.navigation {
  display: flex;
  text-align: center;
}
.nav:hover,
.nav:focus {
  color: #404bbf;
}
.address-list {
  text-decoration: none;
  color: #434455;
}

.address-list-item {
  display: flex;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
  font-style: normal;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}
.address-list-item .nav-flex + .nav-flex {
  margin-left: 40px;
}

.address-list:hover,
.address-list:focus {
  color: #404bbf;
}
.holder {
  margin-left: auto;
}
.navigation-active::after {
  content: "";
  position: absolute;
  margin-top: 24px;
  display: block;
  background: #404bbf;
  border-radius: 2px;
  width: 48px;
  height: 4px;
  opacity: 0;
}
.navigation-active:active {
  opacity: 1;
}
/* Секция Герой */
.title {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.1;
  color: #ffffff;
  width: 496px;
  margin: auto;
}
.thumbnail {
  background-size: cover;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #2e2f42;
  padding-bottom: 188px;
  padding-top: 188px;
}
button {
  font-family: inherit;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
.btn-tiny {
  list-style-type: none;
  display: flex;
  justify-content: center;

  margin-bottom: 72px;
}
.btn-large {
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  background: #f4f4fd;
  color: #4d5ae5;
  display: inline-block;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  min-width: 30px;
  padding: 12px 24px;
}
.btn-large:hover,
.btn-large:focus {
  background-color: #404bbf;
  color: #ffffff;
}
.btn {
  font-weight: 500;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 16px 32px;
  display: inline-block;
  min-width: 169px;
  text-align: center;
  margin-top: 48px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
/* Секция1 */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.subject {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.item {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
  list-style-type: none;
  margin-top: 0;
  width: 264px;
}
.aside {
  list-style-type: none;
  display: flex;
}

.excerpt {
  margin-right: 24px;
}
.excerpt:last-child {
  margin-right: 0px;
}
.avatar {
  display: flex;
  justify-content: center;
  padding: 24px 100px;
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.avatar-icon {
  width: 64px;
  height: 64px;
}

/* Секция2 */
.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  margin-top: 0;
}
.content {
  padding-bottom: 120px;
}
.pic {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.image {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin-right: 24px;
  /* text-align: center; */
}
.image:last-child {
  margin-right: 0px;
}
/* Секция3 */
.foto {
  padding: 32px 16px;
}
.position-block {
  display: flex;
  flex-wrap: wrap;
}
.userpic {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.userpic-item-list {
  height: 40px;
  width: 40px;
  background: #4d5ae5;
  border-radius: 50%;
}
.userpic-item {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.userpic-list {
  width: 100%;
}
.userpic-item-list:hover,
.userpic-item-list:focus {
  background: #404bbf;
}

.content-last {
  margin-top: 120px;
  margin-bottom: 120px;
}
.thumb {
  text-decoration: none;
}

.headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.headline-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
  color: #434455;
  margin: 0;
}
.desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
  color: #434455;
  margin-bottom: 8px;
}
.picture {
  list-style-type: none;
  margin-top: 0;
  display: flex;
  text-align: center;
}
.inner {
  padding-bottom: 120px;
  padding-top: 120px;
  background: #f4f4fd;
}

/* Секция 4 */
.icons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 24px;
}
.icons-list {
  display: flex;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}
.icons-item:is(:hover, :focus) .icons-item-list {
  fill: #404bbf;
}

.icons-list:hover,
.icons-list:focus {
  fill: #404bbf;
  border: 1px solid #404bbf;
}

.icons-item {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
}
.icons-item-list {
  width: 104px;
  height: 56px;
  fill: #afb1b8;
}

/* Футер */
.logo-desc {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  background-color: #2e2f42;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-desc > span {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-bottom: 16px;
}
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}
.items {
  /* display: inline-block; */
  color: #e7e9fc;
  background-color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 0px;

  width: 264px;
}
.position {
  display: flex;
  align-items: baseline;
}
.snippet {
  width: 264px;
}
.subtitle-position {
  margin-left: 120px;
}
.subtitle-icon {
  display: flex;
  gap: 16px;
}

.subtitle-list {
  display: flex;
  list-style: none;
  width: 40px;
  height: 40px;
}
.subtitle-item {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
}
.subtitle {
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}
.subtitle-item:hover,
.subtitle-item:focus {
  background: #31d0aa;
}
/* Portfolio */

.item-list {
  width: 360px;
  margin-bottom: 48px;
  margin-right: 24px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.item-list:hover,
.item-list:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.item-list:nth-child(3n) {
  margin-right: 0px;
}
.item-list:nth-child(n + 7) {
  margin-bottom: 0;
}
.control {
  padding-top: 96px;
  padding-bottom: 120px;
}
.wide {
  margin-right: 24px;
}
.wide:last-child {
  margin-right: 0px;
}
.huge {
  padding: 32px 16px;
}

.thumb-photo::before {
  content: "";
  position: absolute;
  background: #4d5ae5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 0;
}
.thumb-photo {
  display: block;
  position: relative;
}
.thumb-photo:hover:before,
.thumb-photo:focus:before {
  opacity: 1;
}
.thumb-list {
  display: block;
  position: absolute;
  width: 360px;
  height: 300px;
  left: 0px;
  top: 0px;
}
.thumb-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px 164px 32px;
  opacity: 0;
}
.thumb-text:hover,
.thumb-text:focus {
  opacity: 1;
}
